<header class="header">
    <!-- Logo Section -->
    <img src="" alt="logo">
  
    <!-- Search Box Section -->
    <div class="search-box">
      <div class="search-icon">
        <i class="fas fa-search"></i> <!-- Search Icon -->
      </div>
      <input type="text" placeholder="Search..." class="search-input" />
    </div>
  
    <!-- User Info Section -->
    <div class="user-info">
      <img class="profile-photo" [src]="profilePhotoUrl" alt="Profile Photo" />
      <span class="user-name">{{ userName }}</span>
    </div>
  </header>
  