.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #3700b3;
    color: white;
    padding: 15px;
    height: 100vh;
    z-index: 999;
    margin-top: 60px;  
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    margin: 15px 0;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  