<app-header></app-header>
<app-sidebar></app-sidebar>
  <div class="product-container">
  <h2>Product List</h2>

  <button (click)="toggleForm()" class="btn btn-primary mb-4">
    Add Product
  </button>

  <div class="overlay" *ngIf="isFormVisible"></div>

  <div *ngIf="isFormVisible" class="product-form-container">
    <div class="close" (click)="toggleForm()">&#10006;</div> 

    <form (ngSubmit)="addOrUpdateProduct()" #productForm="ngForm" class="product-form">
      <div class="form-group">
        <label for="name">Product Name</label>
        <input id="name" type="text" [(ngModel)]="newProduct.name" name="name" required placeholder="Enter product name" class="form-control" />
      </div>

      <div class="form-group">
        <label for="description">Product Description</label>
        <input id="description" type="text" [(ngModel)]="newProduct.description" name="description" required placeholder="Enter product description" class="form-control" />
      </div>

      <div class="form-group">
        <label for="price">Product Price</label>
        <input id="price" type="number" [(ngModel)]="newProduct.price" name="price" required placeholder="Enter product price" class="form-control" />
      </div>

      <div class="form-group">
        <label for="imageUrl">Product Image URL</label>
        <input id="imageUrl" type="text" [(ngModel)]="newProduct.imageUrl" name="imageUrl" required placeholder="Enter product image URL" class="form-control" />
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">
        {{ isEditMode ? 'Update Product' : 'Add Product' }}
      </button>
    </form>
  </div>

  <table class="table table-bordered mt-4" [class.disabled]="isFormVisible">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th>Product Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td><img [src]="product.imageUrl" alt="Product Image" width="100" height="100" /></td>
        <td class="action-icons">
          <i (click)="editProduct(product)" class="fas fa-edit edit-icon" title="Edit"></i>
          <i (click)="deleteProduct(product.id)" class="fas fa-trash delete-icon" title="Delete"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
