.product-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
<<<<<<< HEAD
    margin-top:8%;
=======
    margin-top:10%;
>>>>>>> 7f2d747b8bb0a80ce6a9a658f119522f5ed2ef8b
  }
  
  .product-form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
  }
  
  th {
    text-align: left;
    background-color: #f8f9fa;
  }
  
  td {
    vertical-align: middle;
  }
  
  button {
    margin-top: 10px;
  }
  