<div class="user-container">
  <!-- User Form Section -->
  <div class="user-form">
    <h2>{{ userId ? 'Edit User' : 'Create User' }}</h2>
    <input type="text" [(ngModel)]="firstName" placeholder="First Name" />
    <input type="text" [(ngModel)]="lastName" placeholder="Last Name" />
    <input type="email" [(ngModel)]="email" placeholder="Email" />
    <input type="password" [(ngModel)]="password" placeholder="Password" />
    <button (click)="userId ? saveUser() : createUser()">
      {{ userId ? 'Save Changes' : 'Add User' }}
    </button>
  </div>

  <!-- Table displaying user data -->
  <table *ngIf="users.length > 0" class="user-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
         <button (click)="editUser(user)" class="icon-btn">
            <i class="fa fa-edit"></i> <!-- Edit Icon -->
          </button>
          <button (click)="deleteUser(user.id)" class="icon-btn">
            <i class="fa fa-trash"></i> <!-- Delete Icon -->
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
